html {
  overflow-y:scroll;
}

#root {
  margin-left: 5%;
  margin-right: 5%;
}

.site-title {
  text-decoration: none;
  color: black;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

h2.page-title {
  text-align: center;
  text-transform: uppercase;
  color: #333;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  width: 570px;
}

.project > a {
  text-align: center;
}

.project-image img {
  width: 100%;
}

.project-title {
  margin-top: -100px;
  color: #fff;
  font-weight: bold;
}

.project-category {
  margin-bottom: 50px;
  color: #fff;
}

.navigation-sub {
  padding-top: 30px;
}

a.nav-item:hover {
  color: #000;
}

@media screen and (min-width: 991px) {
	.navigation-sub > .nav-item.current-menu-item {
		border-top: 2px solid #2f75e4;
		margin-top: 0px;
	}
	.navigation-sub >.nav-item.current-menu-item > a {
		margin-top: -2px;
	}
	.navigation-sub > .nav-item {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-osx-font-smoothing: grayscale;
		position: relative;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
    color: #555;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 5px;

	}
	 .navigation-sub > .nav-item:not(.current-menu-item):before {
		content: "";
	    position: absolute;
	    z-index: -1;
	    left: 0;
	    right: 100%;
	    top: 0;
	    background-color: #2f75e4;
	    height: 2px;
	    -webkit-transition-property: right;
	    transition-property: right;
	    -webkit-transition-duration: 0.4s;
	    transition-duration: 0.4s;
	    -webkit-transition-timing-function: ease-in-out;
	    transition-timing-function: ease-in-out;
  	}
  	.navigation-sub > .nav-item:not(.current-menu-item):hover:before {
    	right: 0;
  	}
}
